## wemux Configuration:
##
## Uncomment an option if you would like to change it from its default setting.
##
## All usernames in host_list will use wemux in host mode, allowing
## them to create wemux sessions for other users to attach to.
## Add the usernames of users who should use wemux in host mode:
## example: host_list=(zolrath csagan brocksamson)
host_list=(root)

## Allow users to attach to the wemux session in pair mode.
## When set to false, clients will only be able to attach in mirror mode.
## Defaults to "true"
# allow_pair_mode="false"

## When clients enter 'wemux' with no arguments by default it will attempt to
## join an existing pair mode session, if there is no pair session it will start
## a mirror mode session.
## By setting default_client_mode to "pair", 'wemux' with no arguments will always
## join a pair mode session, even if it has to create it.
## Defaults to "mirror"
# default_client_mode="pair"

## Allow users to change their hostname for multi-host environments.
## Defaults to "true"
# allow_host_change="false"

## Allow users to list all currently running wemux sockets/hostnames.
## Defaults to "true"
# allow_host_list="false"

## Announce when users attach/detach from a tmux session.
## Defaults to "true"
# announce_attach="false"

## Announce when users change the wemux hostname they are using.
## Defaults to "true"
# announce_host_change="false"

## Location of tmux socket, will have host name appended to end:
## Defaults to "/tmp/wemux"
# socket-prefix="/tmp/wemux"

## Tmux Options:
## Defaults to -u to have tmux always attempt to use utf-8 mode.
# options="-u"
