## wemux Configuration:
## wemux version 3.2.0
##
## Uncomment an option (remove the # in front of it) if you would like to change
## the option from its default setting.

####### HOST OPTIONS #######

## All usernames in host_list will use wemux in host mode, allowing
## them to create wemux servers for other users to attach to.
## Add the usernames of users who should use wemux in host mode:
## example: host_list=(zolrath csagan brocksamson)

## All users in any of the groups in host_groups will also use wemux in host mode.
## example: host_groups=(wheel wemux)

####### CLIENT OPTIONS #######

## Allow users to attach to the wemux server in pair mode.
## When set to false, clients will only be able to attach in mirror mode.
## Defaults to "true"
# allow_pair_mode="false"

## Allow users to attach to the wemux server in rogue mode.
## When set to false, clients will only be able to attach in pair or mirror mode.
## Defaults to "true"
# allow_rogue_mode="false"

## When clients enter 'wemux' with no arguments by default it will attempt to
## join an existing pair mode session, if there is no pair session it will start
## a mirror mode session.
## By setting default_client_mode to "pair", 'wemux' with no arguments will always
## join a pair mode session, even if it has to create it.
## Defaults to "mirror"
# default_client_mode="pair"

## Allow hosts to kick SSH users from the server and remove the kicked users
## wemux sessions.
## Defaults to "true"
# allow_kick_user="false"

####### MULTI-HOST OPTIONS #######

## Allow users to change their server for multi-host environments.
## Defaults to "false"
# allow_server_change="true"

## Set name for default wemux server. Will be used with wemux reset and
## when allow_server_change is disabled.
## Defaults to "wemux"
# default_server_name="customname"

## Allow users to list all currently running wemux sockets/servers.
## Automatically disabled if allow_server_change="false"
## Defaults to "true"
# allow_server_list="false"

####### ANNOUNCEMENT OPTIONS #######

## Allow users to see list of currently connected wemux users.
## Defaults to "true"
# allow_user_list="false"

## Announce when users attach/detach from a tmux server.
## Defaults to "true"
# announce_attach="false"

## Announce when users change the wemux server they are using.
## Defaults to "true"
# announce_server_change="false"

####### OTHER OPTIONS #######

## Location of tmux socket, will have server name appended to end:
## Defaults to "/tmp/wemux"
# socket_prefix="/tmp/wemux"

## Tmux Options:
## Defaults to -u to have tmux always attempt to use utf-8 mode.
# options="-u"
